.anchor {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.content {
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  margin-top: -3.75rem;

}

nav {
  background-color: #fff0ed;
}

.coffeebeans {
  height: 28.125rem;
  vertical-align: middle;
  margin-bottom: 0.75rem;
}

header {
  background-color: #fff0ed;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 1.3125rem;
  font-weight: 400;
  background-color: #5bacc3;
  border: 0.125rem solid #393939;
  text-align: center;
  padding: 0.8125rem 1.625rem;
}

.images {
  height: 17.5rem;
}

.drinks {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.0625rem;
  font-weight: 300;
  color: #393939;
  justify-content: center;

}

#price {
  
}

.discount-tag {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 2.8125rem;
  font-weight: 400;
  background-color: #393939;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
  text-align: center;
  padding: 1.25rem;
}

.footer {
  background-color: #fff0ed;
}

.details {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #393939;
  font-size: 2.0625rem;
  font-weight: 300;
}

.location-hours {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #393939;
  font-size: 1.125rem;
  font-weight: 400;
}

li {
  display: inline-block;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1300px;
  align-self: center;
}

.card {
  margin: 1.87rem;
  display: flex;
  width: 20.625rem;
  height: 29.7rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem;
  color: rgba(0, 0, 0, 0.25);
  background-color:#FFF;
  flex-direction: column;
}


.center-text {
  margin: auto;
  width: fit-content; 

}

.info {
  display: inline-block;
  padding: 3.125rem 6.25rem 3.125rem 9.375rem;
}

.text-container  {
  text-align: left;
  width: 25%;
}

.button-container button {
  box-shadow: 4px 4px 0 #5bacc3, inset 2px 2px 0px white;
}

.learn-button button {
  box-shadow: 4px 4px 0 #5bacc3, inset 2px 2px 0px white;
}

.button-purchase {
  text-align: center;
  margin: 100px auto 100px auto;
 /* padding-bottom: 3.125rem; */
  width: 11.25rem;
  position: relative;
  color: white;
  border: none;
  text-decoration: none;
  
}
.button-purchase button {
  box-shadow: 4px px 0 #5bacc3, inset 2px 2px 0px white;
}
.showcase {
  background-color: #f7f7f7;
}

.back-image element-1 {
  box-shadow: 4px 4px 0 #5bacc3, inset 4px 4px 0px white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF0ED;
}

.coffee-image {
  padding-bottom: 1.875rem;
  padding-top: 2.5rem;
}

.paragraph {
  padding-bottom: 0.9375rem;
  padding-top: 0.3125rem;
}

.card .feature {
  background-color: #FFF0ED;
  border-radius: 0 0 0.625rem 0.625rem;
  display: flex;
  align-items: center;
  padding: 0 16px;
  flex: 1;
} 

.card img {
  padding: 20px;
}

.card .feature .price {
  justify-content: center;
  display: flex;
  flex: 1;
}

.card .feature .price p {
  color: #5bacc3;
  font-weight: 700;
  font-size: 2.0625rem;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
}

.unit {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.heading-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.75rem;
  font-weight: 300;
  margin-top: 7.5rem;
}

.learn-more {
  width: 30%;
  margin-left: 7.8125rem;
}

.element-1 {
  position: relative;
}

.back-image {
  width: 25rem;
  margin: 7.5rem 12.5rem 2.5rem 17.5rem;
  border: 0.3125rem solid #5bacc3;
  position:relative;
}

.can-image {
  height: 17.5rem;
  position: absolute;
  margin-left: -31.25rem; 
  margin-top: 10.625rem;
}  

.element-2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -10;
}

.container-2 {
  display: flex;

}

.logo {
  padding-right: 90px;
}

.button-container {
  position: relative;
}

.learn-button {
  margin-top: 2.5rem;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-section {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.unit-tag {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.center-align {
  display: flex;
  justify-content: center;
}

