.logo {
    width: 3.125rem;
}

ul {
    list-style-type: none;
}

.nav {
    color: #393939;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
}

.nav-options{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
}

h1 {
    background-image: url("../assets/Assets/coffee-circle.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}


.drinks {
    background-color: #393939;
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 98%;
}

.box-title {
    background-color: #393939;
    width: 18.75rem;
    height: 12.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

.hot , 
.pastries {
    background-color: #FFF0ED;
}

h3 {
    color: #393939;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    text-align: center;
}

p {
    color:#393939;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    width: 33%;
    text-align: center;
}

.price {
    color: #5BACC3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    margin-left: 31rem;
}

.cold {
    background-color: #F7F7F7;
}

h2 {
    color: #393939;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: start;
}

.options {
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
}

