@use './partials/global' as *;

.nav {
  background-color: $nitro-pink;

  &__icons {
    width: 3.125rem;
  }

  &__anchor {
    font-family: $open-sans;
    color: $graphite;
    font-size: 3.75rem;
    font-weight: $light;
    display: inline-block;
    margin-top: 0.3125rem; 
    margin-bottom: 0.3125rem;
  }  
}


.content {
  list-style-type: none;
  font-family: $open-sans;
  font-size: 1.3125rem;
  font-weight: $normal;
  display: flex;
  justify-content: flex-end;
  margin-top: -2.5rem;
}

.content__list {
  font-family: $graphite;
  font-weight: $normal;
  font-size: 1.4375rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 0;
  list-style-type: none;
}

.active-menu {
  color: $nitro-blue;
  list-style-type: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $nitro-pink;
  padding-top: 1.25rem;
}

.container__text  {
  text-align: left;
  width: 25%;
}

.container__paragraph {
  padding-bottom: 0.9375rem;
  padding-top: 0.3125rem;
}

.img {
  padding-bottom: 1.875rem;
  padding-top: 2.5rem;
}

.img__coffeebeans {
  height: 28.125rem;
  vertical-align: middle;
  margin-bottom: 0.75rem;
}

.products {
  background-color:$nitro-pink;
}

header {
  background-color: $nitro-pink;
}

button {
  font-family: $open-sans;
  color: $white;
  font-size: 1.3125rem;
  font-weight: $normal;
  background-color: $nitro-blue;
  border: 0.125rem solid $graphite;
  text-align: center;
  padding: 0.8125rem 1.625rem;
}

.center-align__images {
  height: 17.5rem;
}

.drinks {
  font-family: $open-sans;
  font-size: 2.0625rem;
  font-weight: $light;
  color: $graphite;
  justify-content: center;

}

.discount-tag {
  font-family: $open-sans;
  color: $white;
  font-size: 2.8125rem;
  font-weight: $normal;
  background-color: $graphite;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
  text-align: center;
  padding: 1.25rem;
  animation: colorChange 2.5s ease infinite;
}

.footer {
  background-color: $nitro-pink;
  height: 250px;
}

@mixin fonts($size) {
  font-size: $size;
  font-family: $open-sans;
  color: $graphite;
}
.info__details {
  @include fonts(2.0625rem); 
  font-weight: 300;
  padding-bottom: 20px;
}

@mixin fonts($size) {
  font-size: $size;
  font-family: $open-sans;
  color: $graphite;
}
.info__services {
  @include fonts(1.125rem);
  font-weight: 400;
}

li {
  display: inline-block;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1300px;
  align-self: center;
  padding-top: 1.875rem;
}

.card {
  margin-top: 1.87rem;
  margin-bottom: 1.25rem;
  display: flex;
  width: 20.625rem;
  height: 29.7rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem;
  color: $dark-gray;
  background-color:$white;
  flex-direction: column;
}


.center-text {
  margin: auto;
  width: fit-content; 

}

.info {
  display: inline-block;
  padding: 3.75rem 6.25rem 3.75rem 9.375rem;
}


.btn-container button {
  box-shadow: 4px 4px 0 $nitro-blue, inset 2px 2px 0px $white;
}

.learn-btn button {
  box-shadow: 4px 4px 0 $nitro-blue, inset 2px 2px 0px $white;
}

.btn-purchase {
  text-align: center;
  margin: 50px auto 100px auto;
  padding-bottom: 3.125rem;
  width: 11.25rem;
  position: relative;
  color: $white;
  border: none;
  text-decoration: none;
}

.btn-purchase button {
  box-shadow: 4px 4px 0 $nitro-blue, inset 2px 2px 0px $white;
}

.btn-purchase:active {
  transform: translateY(-4px) translateX(-4px);

}

.products {
  background-color: $light-gray;
}

.back-image {
  box-shadow: 5px 5px 0 $nitro-blue, inset 20px 20px 0px $white;
}


.card .feature {
  background-color: $nitro-pink;
  border-radius: 0 0 0.625rem 0.625rem;
  display: flex;
  align-items: center;
  padding: 0 16px;
  flex: 1;
} 

.card img {
  padding: 20px;
}

.card .feature .price {
  justify-content: center;
  display: flex;
  flex: 1; 
}

.card .feature .price p {
  color: $nitro-blue;
  font-weight: $bold;
  font-size: 2.0625rem;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
}

.unit {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.price {
padding-left: 55px; 
} 

.heading-section {
  font-family: $open-sans;
  font-size: 3.75rem;
  font-weight: $light;
  margin-top: 7.5rem;
}

.learn-more {
  width: 30%;
  margin-left: 7.8125rem;
}


.back-image {
  width: 25rem;
  padding: 7.5rem 12.5rem 2.5rem 17.5rem;
  /*border: 0.3125rem solid #5bacc3; */
  position:relative;
}

.back-image element-1 {
  box-shadow: 4px 4px 0 $nitro-blue, inset 2px 2px 0px $white;
}

.can-image {
  height: 17.5rem;
  position: absolute;
  margin-left: -31.25rem; 
  padding-top: 10.625rem;
}  

.can-image:hover {
  animation: rotationcan 2s;
}

.container-2 {
  display: flex;

}

.logo {
  padding-right: 90px;
}

.button-container {
  position: relative;
}

.learn-btn {
  margin-top: 2.5rem;
}

.heading-section__paragraph {
  padding-top: 0px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.info-section {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.unit-tag {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.center-align {
  display: flex;
  justify-content: center;
}

.nav__icons {
  width: 3.125rem;
}

.pic1 {
  width: 120px;
  opacity: 25%
}

.pic2 {
  width: 120px;
  opacity: 25%;
}
 
@keyframes colorChange {
  from {background-color: $graphite;}
  to {background-color: $nitro-blue;}
}

@keyframes rotationcan {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
