@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.icons {
  width: 3.125rem;
}

.section-header-centralized {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  padding-top: 2.5rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
}

.ul {
  list-style-type: none;
}

nav {
  background-color: #FFF0ED;
}

.nav__anchor {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.content {
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  margin-top: -2.5rem;
}

.content__list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.4375rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 0;
  list-style-type: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF0ED;
  padding-top: 1.25rem;
}

.container__text {
  text-align: left;
  width: 25%;
}

.container__paragraph {
  padding-bottom: 0.9375rem;
  padding-top: 0.3125rem;
}

.img {
  padding-bottom: 1.875rem;
  padding-top: 2.5rem;
}

.img__coffeebeans {
  height: 28.125rem;
  vertical-align: middle;
  margin-bottom: 0.75rem;
}

.products {
  background-color: #f7f7f7;
}

header {
  background-color: #fff0ed;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 1.3125rem;
  font-weight: 400;
  background-color: #5bacc3;
  border: 0.125rem solid #393939;
  text-align: center;
  padding: 0.8125rem 1.625rem;
}

.center-align__images {
  height: 17.5rem;
}

.drinks {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.0625rem;
  font-weight: 300;
  color: #393939;
  justify-content: center;
}

.discount-tag {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 2.8125rem;
  font-weight: 400;
  background-color: #393939;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
  text-align: center;
  padding: 1.25rem;
  animation: colorChange 2.5s ease infinite;
}

.footer {
  background-color: #fff0ed;
  height: 250px;
}

.info__details {
  font-size: 2.0625rem;
  font-family: "Open Sans";
  color: #393939;
  font-weight: 300;
}

.info__services {
  font-size: 1.125rem;
  font-family: "Open Sans";
  color: #393939;
  font-weight: 400;
}

li {
  display: inline-block;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1300px;
  align-self: center;
  padding-top: 1.875rem;
}

.card {
  margin-top: 1.87rem;
  margin-bottom: 1.25rem;
  display: flex;
  width: 20.625rem;
  height: 29.7rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem;
  color: rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  flex-direction: column;
}

.center-text {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.info {
  display: inline-block;
  padding: 3.125rem 6.25rem 3.125rem 9.375rem;
}

.btn-container button {
  box-shadow: 4px 4px 0 #5bacc3, inset 2px 2px 0px white;
}

.learn-btn button {
  box-shadow: 4px 4px 0 #5bacc3, inset 2px 2px 0px white;
}

.btn-purchase {
  text-align: center;
  margin: 50px auto 100px auto;
  padding-bottom: 3.125rem;
  width: 11.25rem;
  position: relative;
  color: white;
  border: none;
  text-decoration: none;
}

.btn-purchase button {
  box-shadow: 4px 4px 0 #5bacc3, inset 2px 2px 0px white;
}

.products {
  background-color: #f7f7f7;
}

.back-image {
  box-shadow: 5px 5px 0 #5bacc3, inset 20px 20px 0px white;
}

.card .feature {
  background-color: #FFF0ED;
  border-radius: 0 0 0.625rem 0.625rem;
  display: flex;
  align-items: center;
  padding: 0 16px;
  flex: 1;
}

.card img {
  padding: 20px;
}

.card .feature .price {
  justify-content: center;
  display: flex;
  flex: 1;
}

.card .feature .price p {
  color: #5bacc3;
  font-weight: 700;
  font-size: 2.0625rem;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
}

.unit {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.price {
  padding-left: 55px;
}

.heading-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.75rem;
  font-weight: 300;
  margin-top: 7.5rem;
}

.learn-more {
  width: 30%;
  margin-left: 7.8125rem;
}

/*.element-1 {
  position: relative;
} */
.back-image {
  width: 25rem;
  margin: 7.5rem 12.5rem 2.5rem 17.5rem;
  /*border: 0.3125rem solid #5bacc3; */
  position: relative;
}

.can-image {
  height: 17.5rem;
  position: absolute;
  margin-left: -31.25rem;
  margin-top: 10.625rem;
}

.can-image:hover {
  animation: rotationcan 2s;
}

.container-2 {
  display: flex;
}

.logo {
  padding-right: 90px;
}

.button-container {
  position: relative;
}

.learn-btn {
  margin-top: 2.5rem;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-section {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.unit-tag {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.center-align {
  display: flex;
  justify-content: center;
}

.nav__icons {
  width: 3.125rem;
}

.pic1 {
  width: 120px;
  opacity: 25%;
  position: -10px -20px;
}

.pic2 {
  width: 120px;
  opacity: 25%;
}

@keyframes colorChange {
  from {
    background-color: #393939;
  }
  to {
    background-color: #5bacc3;
  }
}
@keyframes rotationcan {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */