@use './partials/global' as *;

.nav {
  background-color: $nitro-pink;

  &__icons {
    width: 3.125rem;
  }

  &__anchor {
    font-family: $open-sans;
    color: $graphite;
    font-size: 3.75rem;
    font-weight: $light;
    display: inline-block;
    margin-top: 0.3125rem; 
    margin-bottom: 0.3125rem;
  }  
}

.content {
  list-style-type: none;
  font-family: $open-sans;
  font-size: 1.3125rem;
  font-weight: $normal;
  display: flex;
  justify-content: flex-end;
  margin-top: -2.5rem;

  &__list {
    font-family: $graphite;
    font-weight: $normal;
    font-size: 1.4375rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-bottom: 0;
    list-style-type: none;

    .content__item--active {
      color: $nitro-blue;
      list-style-type: none;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $nitro-pink;
  padding-top: 1.25rem;

  &__text  {
    text-align: left;
    width: 25%;

    &container__paragraph {
      padding-bottom: 0.9375rem;
      padding-top: 0.3125rem;
    }
  }
}


.img {
  padding-bottom: 1.875rem;
  padding-top: 2.5rem;
}

.img__coffeebeans {
  height: 28.125rem;
  vertical-align: middle;
  margin-bottom: 0.75rem;
}

.products {
  background-color:$nitro-pink;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 81.25rem;
  align-self: center;
  padding-top: 1.875rem;
}

.card {
  margin-top: 1.87rem;
  margin-bottom: 1.25rem;
  display: flex;
  width: 20.625rem;
  height: 29.7rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem;
  color: $dark-gray;
  background-color:$white;
  flex-direction: column;
}

header {
  background-color: $nitro-pink;
}

button {
  font-family: $open-sans;
  color: $white;
  font-size: 1.3125rem;
  font-weight: $normal;
  background-color: $nitro-blue;
  border: 0.125rem solid $graphite;
  text-align: center;
  padding: 0.8125rem 1.625rem;
}

button a {
  color: $white;
}

.center-align__images {
  height: 17.5rem;
}

.drinks {
  font-family: $open-sans;
  font-size: 2.0625rem;
  font-weight: $light;
  color: $graphite;
  justify-content: center;

}

.discount-tag {
  font-family: $open-sans;
  color: $white;
  font-size: 2.8125rem;
  font-weight: $normal;
  background-color: $graphite;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
  text-align: center;
  padding: 1.25rem;
  animation: colorChange 2.5s ease infinite;
}

.footer {
  background-color: $nitro-pink;
  height: 15.625rem;
  position: relative;
  overflow: hidden;

  &__nav{
    display: flex;
    justify-content: space-evenly;  
  }

  &__beans{
    position:absolute;
    z-index: 2;
  }
}
.footer::after , .footer::before{
  content: "";
  width: 7.5rem;
  height: 7.5rem;
  background-image: url(../assets/assets/coffee-beans-logo-and-footer.svg);
  position: absolute;
  opacity: 25%;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer::after {
  top: 0.625rem;
  left: -2.375rem;
}
.footer::before {
  bottom: 1.4375rem;
  right: -2.8125rem;
}

@mixin fonts($size) {
  font-size: $size;
  font-family: $open-sans;
  color: $graphite;
}
.info__details {
  @include fonts(2.0625rem); 
  font-weight: 300;
  padding-bottom: 1.25rem;
}

@mixin fonts($size) {
  font-size: $size;
  font-family: $open-sans;
  color: $graphite;
}
.info__services {
  @include fonts(1.125rem);
  font-weight: 400;
}

li {
  display: inline-block;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}


.center-text {
  margin: auto;
  width: fit-content; 

}

.info {
  display: inline-block;
  padding: 3.75rem 6.25rem;

  &__social {
   display: flex;
   flex-direction: column;
   align-self: center;
  }
}

.btn-container {
  position: relative;
  transition: all 0.5s ease;
  margin-top: 1.25rem;
}

.btn-container:active {
  transform: translateY(-0.25rem) translateX(-0.25rem);
}

.btn-container:active button {
  box-shadow: none;
}

.learn-btn {
  margin-top: 2.5rem;
  transition: all 0.5s ease;
}

.learn-btn:active button {
  box-shadow: none;
}

.learn-btn:active {
  transform: translateY(-0.25rem) translateX(-0.25rem);
}

.btn-container button {
  box-shadow: 0.25rem 0.25rem 0 $nitro-blue, inset 0.125rem 0.125rem 0px $white;
}

.learn-btn button {
  box-shadow: 0.25rem 0.25rem 0 $nitro-blue, inset 0.125rem 0.125rem 0rem $white;
}

.btn-purchase {
  text-align: center;
  margin: 3.125rem auto 6.25rem auto;
  padding-bottom: 3.125rem;
  width: 11.25rem;
  position: relative;
  color: $white;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease;
}

.btn-purchase button {
  box-shadow: 0.25rem 0.25rem 0 $nitro-blue, inset 0.125rem 0.125rem 0rem $white;
}

.btn-purchase:active {
  transform: translateY(-0.25rem) translateX(-0.25rem);
}

.btn-purchase:active button {
  box-shadow: none;
}

.products {
  background-color: $light-gray;
}

.back-image {
  box-shadow: 0.3125rem 0.3125rem 0 $nitro-blue, inset 1.25rem 1.25rem 0rem $white;
}


.card .feature {
  background-color: $nitro-pink;
  border-radius: 0 0 0.625rem 0.625rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex: 1;
} 

.card img {
  padding: 1.25rem;
}

.card .feature .price {
  justify-content: center;
  display: flex;
  flex: 1; 
}

.card .feature .price p {
  color: $nitro-blue;
  font-weight: $bold;
  font-size: 2.0625rem;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
}

.unit {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.price {
padding-left: 3.4375rem; 
} 

.heading-section {
  font-family: $open-sans;
  font-size: 3.75rem;
  font-weight: $light;
  margin-top: 7.5rem;
}

.learn-more {
  width: 30%;
  margin-left: 7.8125rem;
}


.back-image {
  width: 25rem;
  position:relative;
}

.element-1 {
  border: 0.3125rem solid $nitro-blue;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.element-1::before {
  content: "";
  background-image: url('../assets/assets/coldbrewbackground.png');
  background-size: 25rem 25rem;
  background-repeat: no-repeat;
  width: 25rem;
  height: 25rem;
  position: absolute;
  z-index: -1;
  top: 1.25rem;
  left: 1.25rem;
}

.element-1 .back-image {
  box-shadow: 0.3125rem 0.3125rem 0 $nitro-blue, inset 0.125rem 0.125rem 0 $white;
}

.can-image {
  height: 17.5rem; 
  transform-origin: center center;
}  

.can-image:hover {
  animation: rotationcan 2s linear infinite;
}

.container-2 {
  display: flex;
  justify-content: space-around;
}

.logo {
  padding-right: 5.625rem;
}

.heading-section__paragraph {
  padding-top: 0rem;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.875rem;
}

.info-section {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.unit-tag {
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.center-align {
  display: flex;
  justify-content: center;
}

.nav__icons {
  width: 3.125rem;
}

.pic1 {
  width: 7.5rem;
  opacity: 25%
}

.pic2 {
  width: 7.5rem;
  opacity: 25%;
}
 
@keyframes colorChange {
  from {background-color: $graphite;}
  to {background-color: $nitro-blue;}
}

@keyframes rotationcan {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
