@use './partials/global' as *;


.nav__icons {
  width: 3.125rem;
}

.nav {
  padding: 20px;
}

.nav__anchor {
  color:$graphite;
  font-family: $open-sans;
  font-weight: $light;
  font-size: 3.75rem;
  display: inline;
  margin-right: 0.25rem;
}

.nav__container {
  margin-top: -2.5rem;
}

.nav__list {
  font-family:$open-sans;
  font-weight: $normal;
  font-size: 1.4375rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 0;
  list-style-type: none;
  padding-top: -40px;
  padding-right: 0;
}

.nav__item {
  display: inline-block;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.menu {
  background-image: url("../assets/Assets/coffee-circle.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__heading {
  background-color: $graphite;
  width: 18.75rem;
  height: 12.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menu__title {
  padding-top: 50px;
  font-family:$open-sans;
  color: $white;
  font-size: 3.75rem;
  font-weight: $light;
}

.drink-list {
  background-color: $graphite;
  text-align: center;
  width: 100%;
  height: 5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  border-width: 0.25rem;
}

.menu__heading::after {
  content:" ";
  position:absolute;
  height: 12.5rem;
  width: 18.5rem;
  border: 5px solid $nitro-blue;
  box-sizing: border-box;
  transform:translate(-165px, -74%);
}

.hot,
.pastries {
  background-color: $nitro-pink;
}

h3 {
  color: $graphite;
  font-family: $open-sans;
  font-size: 2.1rem;
  font-weight: $light;
  text-align: center;
}

p {
  color: $graphite;
  font-family: $open-sans;
  font-size: 1.125rem;
  font-weight: $normal;
  width: 33%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.price {
  color: $nitro-blue;
  font-family: $open-sans;
  font-weight: $normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0rem;
  padding-bottom: 1.875rem;
}

.cold {
  background-color: $light-gray;
}

h2 {
  color: $graphite;
  font-family: $open-sans;
  font-size: 1.125rem;
  font-weight: $light;
  text-align: start;
  margin-top: 0rem;
  padding-bottom: 2.5rem;
}

.nav {
  background-color: $nitro-pink;
}


.drink-item {
  display: inline-block;
  margin: 1.875rem 1.25rem 1.875rem 1.25rem;
  border-left: 0.25rem solid $nitro-blue;
  padding-left: 1rem;
  color: $white;
  font-family: $open-sans;
  font-size: 1.4375rem  
}

.nav__item--active {
  color: $nitro-blue;
  list-style-type: none;
}

