@import 'colors';
@import 'typography';

*{
  margin: 0;
  padding: 0;
}

.icons {
  width: 3.125rem;
}

.section-header-centralized {
  font-family: $open-sans;
  font-size: 3.75rem;
  font-weight: $light;
  text-align: center;
  margin-top: 0;
  padding-top: 2.5rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.125rem;
  font-weight: $normal;
  font-family: $open-sans;  
}

h1 {
  font-family: $open-sans;
  color: $graphite;
  font-size: 3.75rem;
  font-weight: $light;
}

.ul {
  list-style-type: none;
} 

